<div class="profile profile__status profile__status--{{status}}">
  <img src="http://placehold.it/100x100" class="profile__pic">
  <div class="profile__info">
    <h3 class="heading-normal profile__name">{{name}}{{^name}}Joe Bloggs{{/name}}</h3>
    <ul>
      <li>{{role}}{{^role}}Developer{{/role}}</li>
      <li class="profile__team">{{team}}{{^team}}Cross government tools{{/team}}</li>
      <li>
        <ul>
          <li><a href="">view job description</a></li>
          <li class="profile--review"><a href="">perform review</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>