@import 'elements';
@import 'components/back_link';
@import 'components/sections';
@import 'components/profile';
@import 'components/community';
@import 'components/jds';
@import 'components/event';

.people-search-form {
  margin-bottom: $gutter-half;

  input {
    width: 100%;
    box-sizing: border-box;
  }
}

.people-search-results:empty {
  display: none;
}

.column-three-quarters {
  @include grid-column(3/4);
}

.data__narrative {
  margin-bottom: 0;
}

.link__out {
  color: $link-colour;
  font-size: 16px;
  text-decoration: none;

  &:visited {
    color: $link-colour;
  }
}
