{{<govuk_template}}

{{$head}}
  {{>includes/jobs_head}}
{{/head}}

{{$content}}
<main id="content" role="main">

  <a href="/" class="example-back-link">Back to the cross government tools' prototypes</a>

  <div class="jd__title">
    <h1 class="heading-xlarge">Developer</h1>
    <p class="heading-medium jd__title--department">Government Digital Service (GDS)</p>
    <p class="heading-medium">Closing date: 17 Apr 2015</p>
  </div>

  <div class="grid-row jd__description">
    <div class="column-third jd__key-info">
      <div class="jd__key-info__item">
        <h4 class="heading-small">Reference</h4>
        <p>1449218</p>
      </div>
      <div class="jd__key-info__item">
        <h4 class="heading-small">Profession</h4>
        <p>Digital</p>
      </div>
      <div class="jd__key-info__item">
        <h4 class="heading-small">Salary range</h4>
        <p>£40,001 - 50,000</p>
      </div>
      <div class="jd__key-info__item">
        <h4 class="heading-small">Average hours per week</h4>
        <p>37</p>
      </div>
      <div class="jd__key-info__item">
        <h4 class="heading-small">Associated skills</h4>
        <ul class="skills-list skills-list--dark">
          <li><a href="/jobs/search_by_skill#Agile">Agile</a></li>
          <li><a href="/jobs/search_by_skill#Javascript">Javascript</a></li>
          <li><a href="/jobs/search_by_skill#Ruby">Ruby</a></li>
          <li><a href="/jobs/search_by_skill#Python">Python</a></li>
          <li><a href="/jobs/search_by_skill#User%20needs">User needs</a></li>
          <li><a href="/jobs/search_by_skill#HTML">HTML</a></li>
          <li><a href="/jobs/search_by_skill#CSS">CSS</a></li>
          <li><a href="/jobs/search_by_skill#Problem%20solving">Problem solving</a></li>
          <li><a href="/jobs/search_by_skill#Digital%20services">Digital services</a></li>
          <li><a href="/jobs/search_by_skill#User%20centred%20design">User centred design</a></li>
          <li><a href="/jobs/search_by_skill#Web%20security">Web security</a></li>
        </ul>
      </div>
    </div>

    <div class="column-two-thirds jd__content">

      <table>
        <tbody>
          <tr>
            <td>Division:</td>
            <td>Government Digital Service (GDS)</td>
          </tr>
          <tr>
            <td>Department</td>
            <td>Cabinet Office</td>
          </tr>
          <tr>
            <td>Location:</td>
            <td>Aviation House, Holborn, London</td>
          </tr>
          <tr>
            <td>Grade:</td>
            <td>A</td>
          </tr>
          <tr>
            <td>Contract Type:</td>
            <td>2 Year: Fixed Term (for external) / Loan (current civil servants)</td>
          </tr>
          <tr>
            <td>Vacancy Ref. No.:</td>
            <td>IRC</td>
          </tr>
        </tbody>
      </table>

      <h3 class="heading-medium">GDS</h3>

      <p>We are leading the digital transformation of government, making public services digital by default, and simpler, clearer and faster to use.</p>

      <p>We work in small, agile teams of developers, designers, content designers and others. We build a minimum viable product, and then iterate – always asking how we can make things better for users, who are at the centre of everything we do. We designed, built and run GOV.UK, the starting point for 60 million citizens to experience government.</p>

      <p>But we're not just about websites. We're finding ways to help those without digital skills share the benefits of digital government. We’re building platforms like Verify, which confirms users are who they say they are, and the Performance Platform, which gives citizens statistics on how government services are doing right now. We’re also setting standards for digital platforms that are shared across agencies and departments, ensuring technology is consistent and spending is controlled. </p>

      <p>This is just some of what we do. You can keep up to date with our Technology at GDS blog.</p>

      <p>Help us make government better.</p>

      <h3 class="heading-medium">The role</h3>

      <p>As a GDS developer, you’ll share the responsibility for the digital transformation of government. You’ll ensure high quality code is delivered in line with project goals and delivery cycles. You’ll thrive using agile methods and enjoy working openly, collaboratively and as part of a multidisciplinary team focused on one or more projects. Above all, you’ll want to make government better, which may sometimes involve challenging the status quo.</p>

      <p>We expect you to be familiar with modern frameworks and languages, as well as working practices such as TDD, continuous integration, continuous delivery and DevOps.</p>

      <p>This Developer role has excellent career development opportunities, both in technical and wider professional growth.</p>

      <h3 class="heading-medium"> Main responsibilities</h3>

      <p>As a GDS Developer, you’ll:</p>

      <ul class="list-bullet">
        <li>build web and mobile products to serve a variety of citizen and government needs, taking responsibility for the quality of code you produce </li>
        <li>readily take the lead for technology on small government projects, keeping colleagues up to speed with progress and flagging any blockers</li>
        <li>implement toolkits & APIs for purposes such as integration, performance optimisation, security and scalability
      build automated tests to support our continuous deployment environment</li>
        <li>share your knowledge of tools and techniques with the wider team, both developers and non-developers, acting as a digital ambassador across government</li>
        <li>be involved in the wider web development community, identifying good practices for GDS to adopt and sharing experiences, eg through blog posts, tech talks at conferences</li>
        <li>participate in our in-house (2nd line)  support, and potentially the out-of-hours support rota (evenings and weekends for one week every 8 weeks) - you’ll be paid an allowance, and a further hourly payment, for any duties you perform when on call</li>
        <li>help recruit developers, sifting through their applications and conducting interviews</li>
      </ul>

      <h3 class="heading-medium">Skills and experience</h3>

      <p>It’s essential that you have:</p>

      <ul class="list-bullet">
        <li>experience in front-end and/or back-end development, with detailed knowledge of at least one programming language: 
      back-end developers need Ruby, Java, Python, Javascript, Scala or Go</li>
        <li>front-end developers need CSS and HTML skills, as well as being comfortable with Javascript</li>
        <li>understanding of software design principles, a systematic approach to solving problems and the ability to diagnose and debug production issues</li>
        <li>experience of using testing to validate solutions</li>
        <li>ability to quickly research and learn new programming tools and techniques</li>
        <li>understanding of agile environments, version control and technical debt </li>
        <li>knowledge of technologies used for web applications, e.g databases, backups, CDNs and search, and of Unix-like operating systems, eg Linux and/or Mac OS</li>
        <li>experience of using third-party libraries and configuration management tools</li>
        <li>strong understanding of web security practices, eg monitoring and intrusion detection</li>
      </ul>

      <p>It’s desirable that you also have:</p>

      <ul class="list-bullet">
        <li>passion for digital services and agile working</li>
        <li>an ability to communicate technical concepts to peers through written documentation</li>
        <li>curiosity for problem solving and an eagerness to learn</li>
        <li>an understanding of how to prioritise work in a fast, customer centric, environment</li>
        <li>experience of building and scaling high-traffic websites</li>
        <li>experience leading technical projects within a team and working well in an agile environment</li>
      </ul>

      <h3 class="heading-medium">Civil Service Competencies</h3>

      <p>The Civil Service Competency Framework says applicants must be able to demonstrate certain skills, knowledge and behaviours to be successful. For this role, the following competencies are the most relevant:</p>

      <ul class="list-bullet">
        <li>changing and improving</li>
        <li>managing a quality service</li>
        <li>collaborating and partnering</li>
      </ul>

      <h3 class="heading-medium">How to apply</h3>

      <p>Email cabinet-office.external@dwp.gsi.gov.uk, quoting ref number IRC xxxxx with your:</p>

      <ol class="list-number">
        <li>Cover sheet</li>
        <li>CV</li>
      </ol>

      <h3 class="heading-medium">Other information</h3>

      <h4 class="heading-small">Application information</h4>

      <ul>
        <li>Closing Date:</li>
        <li>Expected Sift dates:</li>
        <li>Expected Interview dates:</li>
      </ul>

      <p>During interviews, we make use of the civil service competency framework, as well as technical tests (such as pair programming exercises) and interview questions to guide our selection of candidates.</p>

      <p>Applications are welcome from part timers and job sharers.</p>

      <h4 class="heading-small">Contacts for more information</h4>

      <p>For further information regarding this posts please contact gds-recruitment@digital.cabinet-office.gov.uk</p>

      <p>For information regarding recruitment process, eligibility, terms and conditions please contact
      cabinet-office.external@dwp.gsi.gov.uk</p>

      <p>The 'Civil Service code’ outlines the Civil Service's core values, and the standards of behaviour expected of all civil servants in upholding these values.</p>

      <h4 class="heading-small">Additional information </h4>

      <ol class="list-number">
        <li>Full time working week of 37 hours</li>
        <li>Annual leave allowance of 25 days rising to 30 days after five years with 8 days’ bank and public holidays and also the Queen’s Birthday privilege holiday</li>
        <li>For existing Civil Servants - you will join on loan and your home department will determine the terms of your loan. This will involve discussions between your line manager, HR Business Partner and Cabinet Office HR. If you are successful in securing this role, we encourage you to work proactively with your line manager and HR BP to progress this. You may join on a promotion or a temporary promotion</li>
        <li>Internal promotees will be entitled to sick pay of one month’s full pay and one month’s half pay in their first year, rising to a maximum of 5 months full pay and 5 months half pay by the fifth year of service</li>
        <li>Internal promotees will be considered mobile (this means that you may be compulsory posted to other civil service departments within the UK)</li>
        <li>Internal promotees will transfer to the modernised Cabinet Office terms and conditions, including salary, and allowances will not be carried over unless applicable to the role</li>
        <li>Internal promotees will have excess costs paid, only if there is an approved business case</li>
        <li>Internal promotees joining on level transfer terms will retain their existing terms and conditions in relation to the issues above</li>
        <li>Internal promotees joining a post on loan, whose existing salaries exceed Cabinet Office pay scales, may find it’s possible to remain on the parent department’s pay and appraisal system</li>
      </ol>
      
    </div>
  </div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
