{{<govuk_template}}

{{$head}}
  {{>includes/jobs_head}}
{{/head}}

{{$content}}
<main id="content" role="main">

  <a href="/" class="example-back-link">Back to the cross government tools' prototypes</a>

  <div class="jd__title">
    <h1 class="heading-xlarge">Developer</h1>
    <p class="heading-medium jd__title--department">Government Digital Service (GDS)</p>
    <p class="heading-medium">Closing date: 17 Apr 2015</p>
  </div>

  <div class="grid-row jd__description">
    <div class="column-third jd__key-info">
      <div class="jd__key-info__item">
        <h4 class="heading-small">Reference</h4>
        <p>1449218</p>
      </div>
      <div class="jd__key-info__item">
        <h4 class="heading-small">Profession</h4>
        <p>Digital</p>
      </div>
      <div class="jd__key-info__item">
        <h4 class="heading-small">Salary range</h4>
        <p>£40,001 - 50,000</p>
      </div>
      <div class="jd__key-info__item">
        <h4 class="heading-small">Average hours per week</h4>
        <p>37</p>
      </div>
      <div class="jd__key-info__item">
        <h4 class="heading-small">Associated skills</h4>
        <ul class="skills-list skills-list--dark">
          <li><a href="/jobs/search_by_skill#Agile">Agile</a></li>
          <li><a href="/jobs/search_by_skill#Javascript">Javascript</a></li>
          <li><a href="/jobs/search_by_skill#Ruby">Ruby</a></li>
          <li><a href="/jobs/search_by_skill#Python">Python</a></li>
          <li><a href="/jobs/search_by_skill#User%20needs">User needs</a></li>
          <li><a href="/jobs/search_by_skill#HTML">HTML</a></li>
          <li><a href="/jobs/search_by_skill#CSS">CSS</a></li>
          <li><a href="/jobs/search_by_skill#Problem%20solving">Problem solving</a></li>
          <li><a href="/jobs/search_by_skill#Digital%20services">Digital services</a></li>
          <li><a href="/jobs/search_by_skill#User%20centred%20design">User centred design</a></li>
          <li><a href="/jobs/search_by_skill#Web%20security">Web security</a></li>
        </ul>
      </div>
    </div>

    <div class="column-two-thirds jd__content">

      <table>
        <tbody>
          <tr>
            <td>Division:</td>
            <td>Government Digital Service (GDS)</td>
          </tr>
          <tr>
            <td>Department</td>
            <td>Cabinet Office</td>
          </tr>
          <tr>
            <td>Location:</td>
            <td>Aviation House, Holborn, London</td>
          </tr>
          <tr>
            <td>Grade:</td>
            <td>A</td>
          </tr>
          <tr>
            <td>Contract Type:</td>
            <td>2 Year: Fixed Term (for external) / Loan (current civil servants)</td>
          </tr>
          <tr>
            <td>Vacancy Ref. No.:</td>
            <td>IRC</td>
          </tr>
        </tbody>
      </table>

      <h3 class="heading-medium">GDS</h3>

      <p>We are leading the digital transformation of government, making public services digital by default, and simpler, clearer and faster to use.</p>

      <p><a href="https://www.gov.uk/government/organisations/government-digital-service/about">Read more about what we do</a></p>

      <h3 class="heading-medium">The role</h3>

      <p>You’ll deliver high quality code, thrive using agile methods and work as part of a multidisciplinary team.</p>

      <p>You must be familiar with modern frameworks and languages, as well as working practices such as TDD, continuous integration, continuous delivery and DevOps.</p>

      <h3 class="heading-medium"> Main responsibilities</h3>

      <p>You’ll:</p>

      <ul class="list-bullet">
        <li>build web and mobile products to serve citizen and government needs</li>
        <li>take the lead for technology on small projects</li>
        <li>implement toolkits and APIs for integration, performance optimisation and security and scalability</li>
        <li>build automated tests to support continuous deployment environment</li>
        <li>act as a digital ambassador across government and the web community (eg posting blogs, tech talks at conferences)</li>
        <li>participate in our in-house and out-of-hours support rota</li>
        <li>help recruit developers</li>
      </ul>

      <h3 class="heading-medium">Skills and experience</h3>

      <p>Essential:</p>

      <ul class="list-bullet">
        <li>front-end and/or back-end experience, with detailed knowledge of at least one of the following: Ruby, Java, Python, Javascript, Scala or Go</li>
        <li>CSS, HTML and Javascript skills (for front-end developers)</li>
        <li>understanding of software design principles, problem solving and the ability to diagnose and debug production issues</li>
        <li>experience of using testing to validate solutions</li>
        <li>ability to research and learn new programming tools and techniques</li>
        <li>understanding of agile environments, version control and technical debt</li>
        <li>knowledge of technologies used for web applications, (eg databases, backups, CDNs and search) and of Unix-like operating systems (eg Linux and/or Mac OS)</li>
        <li>experience of using third-party libraries and configuration management tools</li>
        <li>understanding of web security practices (eg monitoring and intrusion detection)</li>
      </ul>

      <p>Desirable</p>

      <ul class="list-bullet">
        <li>passion for digital services and agile working</li>
        <li>ability to communicate technical concepts</li>
        <li>experience of building and scaling high-traffic websites</li>
        <li>history of leading technical projects</li>
      </ul>

      <h3 class="heading-medium">Civil Service Competencies</h3>

      <p>The successful applicant must show the following competencies from the <a href="http://www.civilservice.gov.uk/wp-content/uploads/2012/07/Civil-Service-Competency-Framework-July-2012.pdf">Civil Service Competency Framework</a>:</p>

      <ul class="list-bullet">
        <li>changing and improving</li>
        <li>managing a quality service</li>
        <li>collaborating and partnering</li>
      </ul>

      <h3 class="heading-medium">Benefits</h3>
      <ul class="list-bullet">
        <li>For successful candidates, pension schemes are available</li>
        <li>Annual leave allowance of 25 days rising to 30 after five years</li>
        <li>Queen’s Birthday privilege holiday plus 8 bank/public holidays</li>
        <li>Recruitment and Retention allowance of up to £3500</li>
      </ul>

      <h3 class="heading-medium">How to apply</h3>

      <p>Email your covering letter and CV to <a href="mailto:cabinet-office.external@dwp.gsi.gov.uk">cabinet-office.external@dwp.gsi.gov.uk</a>, quoting ref number IRC xxxxx</p>

      <p>Applications are welcome from part-timers and job sharers.</p>

      <ul>
        <li><h4 class="jd_-inline-heading">Closing date:</h4> xx/xx/xxxx</li>
        <li><h4 class="jd_-inline-heading">Expected interview dates:</h4> xx/xx/2015 - xx/xx/xxxx</li>
      </ul>

      <h3 class="heading-medium">Further information</h3>

      <p>For more on this role: <a href="mailto:gds-recruitment@digital.cabinet-office.gov.uk">gds-recruitment@digital.cabinet-office.gov.uk</a></p>
      <p>For terms and conditions, eligibility and recruitment: <a href="mailto:cabinet-office.external@dwp.gsi.gov.uk">cabinet-office.external@dwp.gsi.gov.uk</a></p>
      <p>If you’re a civil servant and wish to apply: <a href="mailto:internal-hr-queries@xxxx.gov.uk">internal-hr-queries@xxxx.gov.uk</a></p>
      

    </div>
  </div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
