{{<govuk_template}}

{{$head}}
  {{>includes/jobs_head}}
{{/head}}

{{$content}}
<main id="content" role="main">

  <a href="/" class="example-back-link">Back to the cross government tools' prototypes</a>

  <div class="jd__title">
    <h1 class="heading-xlarge">SEO - Senior Data Policy Adviser</h1>
    <p class="heading-medium jd__title--department">UK Statistics Authority</p>
    <p class="heading-medium">Closing date: 17 May 2015</p>
  </div>

  <div class="grid-row jd__description">
    <div class="column-third jd__key-info">
      <div class="jd__key-info__item">
        <h4 class="heading-small">Reference</h4>
        <p>1449218</p>
      </div>
      <div class="jd__key-info__item">
        <h4 class="heading-small">Profession</h4>
        <p></p>
      </div>
      <div class="jd__key-info__item">
        <h4 class="heading-small">Salary range</h4>
        <p></p>
      </div>
      <div class="jd__key-info__item">
        <h4 class="heading-small">Average hours per week</h4>
        <p>37</p>
      </div>
      <div class="jd__key-info__item">
        <h4 class="heading-small">Associated skills</h4>
        <ul class="skills-list skills-list--dark">
          <!--<li><a href="/jobs/search_by_skill#Agile">Agile</a></li>
          <li><a href="/jobs/search_by_skill#Javascript">Javascript</a></li>
          <li><a href="/jobs/search_by_skill#Ruby">Ruby</a></li>
          <li><a href="/jobs/search_by_skill#Python">Python</a></li>
          <li><a href="/jobs/search_by_skill#Scala">Scala</a></li>
          <li><a href="/jobs/search_by_skill#User%20needs">User needs</a></li>
          <li><a href="/jobs/search_by_skill#HTML">HTML</a></li>
          <li><a href="/jobs/search_by_skill#CSS">CSS</a></li>
          <li><a href="/jobs/search_by_skill#Problem%20solving">Problem solving</a></li>
          <li><a href="/jobs/search_by_skill#Digital%20services">Digital services</a></li>
          <li><a href="/jobs/search_by_skill#User%20centred%20design">User centred design</a></li>
          <li><a href="/jobs/search_by_skill#Web%20security">Web security</a></li>-->
        </ul>
      </div>
    </div>

    <div class="column-two-thirds jd__content">

      <table>
        <tbody>
          <tr>
            <td>Department</td>
            <td>UK Statistics Authority</td>
          </tr>
          <tr>
            <td>Location:</td>
            <td>Fareham, London</td>
          </tr>
          <tr>
            <td>Grade:</td>
            <td>Senior Executive Officer</td>
          </tr>
          <tr>
            <td>Contract Type:</td>
            <td>Permanent</td>
          </tr>
          <tr>
            <td>Vacancy Ref. No.:</td>
            <td>1445018</td>
          </tr>
        </tbody>
      </table>

      <h3 class="heading-medium">UK Statistics Authority</h3>

      <p>We’re an independent body that promotes and safeguards the production and publication of official statistics.</p>

      <p><a href="">Read more about what we do</a></p>

      <h3 class="heading-medium">The role</h3>

      <p>You will work in the Data Governance and Policy team delivering the UK Statistics Authority Board’s strategic objectives and priorities.</p>

      <p>A core objective is to negotiate greater and faster access to administrative data for Census, and other statistical, purposes.</p>

      <h3 class="heading-medium"> Main responsibilities</h3>

      <p>You’ll:</p>

      <ul class="list-bullet">
        <li>develop the legal context in which data sharing can take place</li>
        <li>work with the Cabinet Office to write and comment on policy proposals</li>
        <li>establish consistent and effective policies for data access and use</li>
        <li>present strategies and policies both internally and externally</li>
        <li>promote greater data sharing between government departments</li>
      </ul>

      <h3 class="heading-medium">Skills and experience</h3>

      <p>Essential:</p>

      <ul class="list-bullet">
        <li>history of developing policies with regard to accessing and using data</li>
        <li>understanding of the potential of sharing data, and its challenges</li>
        <li>highly effective negotiating and influencing skills</li>
        <li>sound judgement and shrewd awareness of working across departments</li>
        <li>ability to work flexibly, adapting to address priority issues</li>
        <li>hold a relevant undergraduate (minimum 2:2) or postgraduate degree</li>
      </ul>

      <h3 class="heading-medium">Civil Service Competencies</h3>

      <p>The successful candidate must show the following competencies from the <a href="http://www.civilservice.gov.uk/wp-content/uploads/2012/07/Civil-Service-Competency-Framework-July-2012.pdf">Civil Service Competency Framework</a>:</p>

      <ul class="list-bullet">
        <li>seeing the big picture</li>
        <li>delivering at pace</li>
        <li>leading and communicating</li>
        <li>collaborating and partnering</li>
      </ul>

      <h3 class="heading-medium">Benefits</h3>
      <ul class="list-bullet">
        <li>For successful candidates, <a href="http://www.civilservicepensionscheme.org.uk/">pension schemes</a> are available</li>
        <li>Annual leave allowance of 25 days rising to 30 after five years</li>
        <li>Queen’s Birthday privilege holiday plus 8 bank/public holidays</li>
        <li>Flexible working hours</li>
      </ul>

      <h3 class="heading-medium">How to apply</h3>

      <p>Email your covering letter and CV to <a href="mailto:hrdepartment@statisticsauthority.gov.uk">hrdepartment@statisticsauthority.gov.uk</a>, quoting ref number IRC xxxxx</p>

      <p>Applications are welcome from part-timers and job sharers.</p>

      <ul>
        <li><h4 class="jd_-inline-heading">Closing date:</h4> xx/xx/xxxx</li>
        <li><h4 class="jd_-inline-heading">Expected interview dates:</h4> xx/xx/2015 - xx/xx/xxxx</li>
      </ul>

      <h3 class="heading-medium">Further information</h3>

      <p class="jd__email-contact">For more on this role: <a href="mailto:swhitworth@statistics.gsi.gov.uk">swhitworth@statistics.gsi.gov.uk</a></p>
      <p class="jd__email-contact">For terms and conditions, eligibility and recruitment: <a href="mailto:policyterms@statistics.gsi.gov.uk">policyterms@statistics.gsi.gov.uk</a></p>
      <p class="jd__email-contact">If you’re a civil servant and wish to apply: <a href="mailto:internal-hr-queries@xxxx.gov.uk">internal-hr-queries@xxxx.gov.uk</a></p>

    </div>
  </div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
