{{<email}}

  {{$addStylesheets}}{{/addStylesheets}}

  {{$emailTo}}DavidDavids@gmail.com{{/emailTo}}

  {{$emailFrom}}iamtherecruiter@gmail.com{{/emailFrom}}

  {{$emailSubject}}Front-end dev role{{/emailSubject}}

  {{$emailContent}}

  <p>Hi David,</p>

  <p>Hope you are keeping well. I saw this great front-end developer role at GDS that I thought you might be interested in. You can found out more about it <a href="/jobs/description_frontend_developer">here</a></p>

  <p>Let me know how you get on,</p>

  <p>Mr Recruiter</p>

  {{/emailContent}}

{{/email}}