{{<govuk_template}}

{{$head}}
  {{>includes/jobs_head}}
  <link href="/public/stylesheets/review.css" media="screen" rel="stylesheet" type="text/css" />
{{/head}}

{{$content}}
<main id="content" role="main">

  <a href="/" class="example-back-link">Back to the cross government tools' prototypes</a>

  <section class="text">
    <h1 class="heading-large">Terms and conditions for internal applications</h1>

    <p class="lede"> If the role you’re applying for is a level transfer you’ll be able to keep your existing terms and conditions.</p> 

    <p>If this is an internal promotion, you’ll be:</p>
    <ul class="list-bullet">
      <li>entitled to sick pay of one month’s full pay and one month’s half pay in your first year (rising to a maximum of 5 months full pay and 5 months half pay after 5 years)</li>
      <li>considered eligible for a compulsory posting to another department in the UK (also known as ‘mobile’)</li>
      <li>transferred to the new Cabinet Office <a href="">terms and conditions</a></li>
      <li>able to claim excess business costs</li>
      <li>allowed to retain existing terms and conditions if it’s a level transfer</li>
    </ul>
  </section>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
  <script src="/public/javascripts/review.js"></script>
{{/bodyEnd}}

{{/govuk_template}}