{{<govuk_template}}

{{$head}}
  {{>includes/jobs_head}}
{{/head}}

{{$content}}
<main id="content" role="main">

  <a href="/" class="example-back-link">Back to the cross government tools' prototypes</a>

  <form action="">

    <h1 class="form-title heading-xlarge">
      Search vacancies
    </h1>

    <div class="form-group">
      <p class="form-hint">Search by keyword or reference number</p>
      <input type="text" class="form-control search_input" id="jd_search">
    </div>

    <details>
      <summary>advanced search options</summary>
      <div>balh blah blah</div>
    </details>

  </form>

  <section>

    <ul class="jd__results">

      {{#listings}}

      <li class="jd__listing">
        <div class="jd__reference">
          <span>#{{ref}}</span>
          <div class="jd__save">
            <img class="jd__save-later" src="/public/images/star_outline.svg" alt="" />
            <img class="jd__saved-icon" src="/public/images/star_filled.svg" alt="" />
          </div>
        </div>
        
        <h1 class="heading-large jd__role">{{role}}</h1>
        <p class="heading-medium jd__title--department">{{department}}</p>
        <p class="heading-medium jd__closing-date">{{closing}}</p>
        <h4 class="heading-small">Associated skills</h4>
        <ul class="jd__assoc-skills">
          {{#skills}}
          <li class="skill" data-skill="{{.}}">{{.}}</li>
          {{/skills}}
        </ul>
        <a href="" class="button">Apply now</a>
        <span class="jd__readmore"><a href="">read more</a></span>
      </li>

      {{/listings}}

    </ul>

  </section>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
  <script src="/public/javascripts/jd_search.js"></script>
{{/bodyEnd}}

{{/govuk_template}}