{{<govuk_template}}

{{$head}}
  {{>includes/jobs_head}}
{{/head}}

{{$content}}
<main id="content" role="main">

  <a href="/examples/" class="example-back-link">Back to the cross government tools' prototypes</a>

  <form action="">

    <h1 class="form-title heading-large">
      Search vacancies
    </h1>

    <div class="form-group">
      <p class="form-hint">Search by keyword or reference number</p>
      <input type="text" class="form-control" id="full-name">
    </div>

  </form>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}