{{<govuk_template}}

{{$head}}
  {{>includes/jobs_head}}
  <link href="/public/stylesheets/review.css" media="screen" rel="stylesheet" type="text/css" />
{{/head}}

{{$content}}
<main id="content" role="main">

  <a href="/" class="example-back-link">Back to the cross government tools' prototypes</a>

  <header class="profile--include">
    <h1 class="form-title heading-large">
    To review
    </h1>

    <p class="lede">Please review each of the following people</p>

  </header>

  <section class="review__section">
    <h2 class="heading-medium">Your team</h2>

    <div class="grid-row review__section__todo">
      {{#team}}
        <div class="column-half">
          {{>components/profile}}
        </div>
      {{/team}}
    </div>

  </section>

  <section class="review__section">
    <h2 class="heading-medium">Other requests</h2>

    <div class="grid-row review__section__todo">
      {{#others}}
        <div class="column-half">
          {{>components/profile}}
        </div>
      {{/others}}
    </div>

  </section>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
  <script src="/public/javascripts/review.js"></script>
{{/bodyEnd}}

{{/govuk_template}}