.profile {
  @extend %contain-floats;
  margin-bottom: $gutter;
  padding: $gutter-half;
  border: 1px solid $border-colour;
}
.profile__pic {
  float: left;
  width: 100px;
  padding-right: $gutter-half;
}

.profile__info {
  float: left;
  width: 50%;
}

.profile__name {
  font-weight: 700;
}

.profile__team {
  color: $secondary-text-colour;
}

.profile--right {
  position: absolute;
  right: 0;
  top: 0;

  .profile {
    text-align: right;
  }
  .profile__pic {
    float: right;
    padding-right: 0;
  }
  .profile__info {
    float: right;
    width: 50%;
    padding-right: $gutter-half;
  }
}

.profile--include {
  position: relative;
}