{{<govuk_template}}

{{$head}}
  {{>includes/professions_head}}
{{/head}}

{{$content}}
<main id="content" role="main">

  <a href="/" class="example-back-link">Back to the cross government tools' prototypes</a>

  <div class="grid-row">
    <div class="column-two-thirds">
      <header class="community-header">
        <h1 class="heading-xlarge">Government Finance Profession</h1>
        <p class="lede">We support civil servants who work in, or are involved with, embedding the professional finance culture across government</p>
      </header>

      <section class="section">
        <h2 class="heading-medium">Key dates:</h2>
      </section>

      <section class="section">
        <h2 class="heading-medium">Current vacancies</h2>
      </section>

      <section class="section">
        <h2 class="heading-medium">Learning</h2>
      </section>
    </div>

    <div class="column-third">
      <h2 class="heading-large">Find people in your profession</h2>

      <form action="" class="people-search-form">
        <p class="form-hint">Search by name or keyword</p>
        <input type="text" list="data-people" id="people_search" />
        <datalist id="data-people">
          <option value="Alyson Fielding">Alyson Fielding</option>
          <option value="Angela Collins-Rees">Angela Collins-Rees</option>
          <option value="Colm Britton">Colm Britton</option>
          <option value="Elisse Jones">Elisse Jones</option>
          <option value="Dave Hearsey">Dave Hearsey</option>
          <option value="Dave Mann">Dave Mann</option>
          <option value="Juan Uys">Juan Uys</option>
          <option value="Jim Williams">Jim Williams</option>
          <option value="Katya Lakshtanova">Katya Lakshtanova</option>
          <option value="Neha Datt">Neha Datt</option>
        </datalist>
      </form>

      <!-- needs to be on one line for :empty pseudo class to work -->
      <section class="section people-search-results"></section>
      <section class="section">
        <h2 class="heading-medium">Your Profession</h2>
      </section>
    </div>

  </div>

  

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
  <script src="/public/javascripts/lib/underscore.js"></script>
  <script src="/public/javascripts/lib/mustache.min.js"></script>
  <script src="/public/javascripts/professions.js"></script>
{{/bodyEnd}}

{{/govuk_template}}