{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Cross government tools prototypes</h1>
	<!-- feel free to change this page to suit your needs -->

	<p>This page lists some of the main prototypes we have been working on</p>

	<h2 class="heading-large">Prototypes</h2>

  <ul>
    <li>
      <a href="/examples">Example pages</a>
    </li>
    <li>
      <a href="/signup/create">Sign up</a>
    </li>
    <li>
      <a href="/jobs/description">Job description</a>
    </li>
    <li>
      <a href="/jobs/search_by_skill">Job search by skill</a>
    </li>
    <li>
      <a href="/jobs/review">Colleague review</a>
    </li>
    <li>
      <a href="/jobs/review_summary">Performance summary</a>
    </li>
    <li>
      <a href="/jobs/to_review">To review</a>
    </li>
  </ul>

	<h2 class="heading-large">Resources</h2>

	<ul class="list-bullet">
		<li>
			<a href="https://github.com/alphagov/govuk_prototype_kit/wiki">
				GOV.UK kit documentation
			</a>
		</li>
		<li>
			<a href="http://govuk-elements.herokuapp.com/snippets/">
				Guide to GOV.UK elements HTML
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/service-manual">
				Service design manual
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/design-principles">
				Government Digital Service Design Principles
			</a>
		</li>
	</ul>

</main>

{{/content}}

{{/layout}}
